pandas
numpy
requests==2.32.3
pymongo==4.10.1
dnspython==2.7.0
python-dotenv==1.0.1
scikit-learn==1.5.2
keras==3.6.0
tensorflow==2.18.0
matplotlib==3.9.2
seaborn==0.13.2
zenml== 0.70.0
streamlit==1.40.2
mlflow==2.18.0